mixin loginForm()

    .auth-wrapper
        .auth-box
            .auth-box__inner
                a(href="/")
                    img(src="/images/uploads/851de599-9081-4697-a593-e881e5926eec.jpeg", alt="" width="70").auth-box__image
                form(method="post" action="/login")
                    .auth-box__col
                        .auth-inputs
                            .auth-inputs
                                label(for="email").auth-inputs__lab Email:
                                input(type="email" name="email").auth-inputs__put
                                
                                label(for="password").auth-inputs__lab Password:
                                input(type="password" name="password").auth-inputs__put

                        
                    button(type="submit").auth-btn Sign In
                    
        .auth-footer
            p Don'y have an account? <a href="/register"> Register Now</a>