mixin registerForm()
    .auth-wrapper
        .auth-box
            .auth-box__inner
                a(href="/")
                    img(src="/images/uploads/851de599-9081-4697-a593-e881e5926eec.jpeg", alt="" width="70").auth-box__image
                form(method="post" action="/register")
                    .auth-box__col
                        .auth-inputs
                            .auth-inputs
                                label(for="name").auth-inputs__lab Name:
                                input(type="text" name="name").auth-inputs__put

                                label(for="email").auth-inputs__lab Email:
                                input(type="email" name="email").auth-inputs__put
                                
                                label(for="password").auth-inputs__lab Password:
                                input(type="password" name="password").auth-inputs__put

                                label(for="password-confirm").auth-inputs__lab Confirm Password:

                                input(type="password" name="confirm").auth-inputs__put
                                label(for="admin").auth-inputs__lab Administrator Access Code:
                                input(type="password" name="adminCode").auth-inputs__put
                        
                    button(type="submit").auth-btn Register
                    
        .auth-footer
            p Have an account? <a href="/login"> Sign in</a>
