.c-nav {
  background: linear-gradient(to right, yellow, green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  float: right;
  width: 350px;
  height: 100vh;

  &__logo {
    padding: 10px;
    font-size: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    padding: 10px;
    font-size: 24px;
  }
}
