extends layout
block content
    
    a(id='user')= user._id



    ul(id="messages" style="width: 100%; text-align: center; color: red;")
    ul
        h1 B. FIVE STEP PROCESS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Goal Setting: Strategic Vision
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Problems - Not tolerating them
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Problems - perceiving them
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Diagnosing to the Root Cause
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Designing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Pushing Through to Results

    ul 
        h1 C. VALUES FUNDAMENTALS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Living in Truth
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Driven to Achieve Excellence
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Assertive and Open-Minded at the same time
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Integrity

    ul 
        h1 D. MANAGEMENT FUNDAMENTALS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Principled Machine - & Higher Level Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Designing the Movie Script
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Matching People to Job Design
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Probing Deeply to know How the Managers Feel
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managing rather than Micromanaging
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Able to Understand and Navigate Better
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Fighting to Get in Sync
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Encouraging others to Probe
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Cuts Through it All
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Escalating when not succeeding
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Shaping change
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Willing to Touch the Nerve
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Holding People Accountable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Maintaining High Standards

    ul 
        h1 E. THINKING QUALITIES
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Brightness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Linear Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Lateral Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Knowing what (s)he doesn't know and seeking to learn
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Creativity
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Common Sense
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Synthesizing the situation
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Synthesizing through time
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Prioritizing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Logical Reasoning
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Visualization
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Seeing Multiple Possibilities
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Practical Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Dealing with Ambiguity
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Ability to Self-assess
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Conceptual Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Empathy
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Organized and Reliable

    ul 
        h1 F. TECHNICAL/FUNCTIONAL SKILLS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Skill and Experience Level Relative to others

    ul 
        h1 O. OPTIONAL
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Determination
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Process Management
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Time Management
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managing Vision and Purpose
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Developing Others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Motivating Others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Self-Discipline
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Productive Work Habits
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Results-Orientation
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Proactive
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Wise
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Composed
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Sizing up People
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Taking the Bull by the Horns
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Learning from Mistakes
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managerial Courage
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Proactively making design and people-pleasing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Listens well
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Precise and Meticulous Problem Solving
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Thinking Strategically
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Links open-ended questions
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Practical
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Learning on the fly
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Quick to Learn from Mistakes
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Manages Conflict to get at Truth
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Security Mindedness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Community Mindedness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Acts Like an owner
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Spends Money Wisely
    ul
        li Accountable
        li Acknowledges communications
        li Adaptable
        li Admits when he/she is wrong
        li Authentic
        li Bears responsibility
        li Believes that family is important
        li Believes that health is important
        li Bli elieves that time to relax is important
        li Believes that time to think is important 
        li Broadminded
        li Caring
        li Carries business cards to use for networking
        li Collaborates
        li Commitment to excellence
        li Communicates well
        li Consistent
        li Courteous
        li Credible
        li Decisive
        li Dependable
        li Determined
        li Diligent
        li Disciplined
        li Displays integrity and a high ethical standard
        li Doesn’t gossip 
        li Doesn’t hold grudges
        li Doesn’t let things slip through the cracks
        li Doesn’t make excuses
        li Delivers above and beyond what people expect
        li Effective
        li Efficient
        li Empathetic
        li Engaging
        li Enthusiastic
        li Evolving
        li Excels in their line of work
        li Exercises self-control
        li Focused
        li Forgiving
        li Generous
        li Gets along with people
        li Gets the job done
        li Gives credit where credit is due 
        li Go-getter
        li Goal-setter
        li Good at working in a team
        li Good interpersonal skills
        li Hard worker
        li Has a personal mission statement
        li Has a 30-second explanation of what they do (often called an "elevator speech")
        li Has conviction
        li Hears all sides
        li Helps others with their problems
        li Helps others to succeed
        li Highly committed
        li Humble
        li Innovative
        li Interested in others
        li Is a person of their word
        li Kind
        li Lli earns from mistakes
        li Listens well
        li Looks at obstacles as challenges 
        li Loyal
        li Maintains gains while being proactive
        li Makes the best of situations
        li Manages stress
        li Methodical
        li Motivated
        li Networks well
        li Nonjudgmental
        li Not afraid to fail
        li Not manipulative
        li Not satisfied with mediocrity 
        li Objective
        li Open to new ways of doing things
        li Organized
        li Passionate
        li Patient
        li Perseverant
        li Planner
        li Positive attitude
        li Precise
        li Proactive
        li Realistic
        li Relates well to others
        li Respectful 
        li Scheduled
        li Scrupulous
        li Seeks improvement
        li Selfless
        li Sharp spiritually
        li Shows appreciation and expresses thanks
        li Sincere
        li Stays abreast of new developments
        li Studious
        li Takes responsibility
        li Teachable
        li Thinker
        li Time management skills
        li Transparent
        li Tries to do more with less
        li Trustworthy
        li Truthful
        li Upright
        li Values others 
        li Willing to change
        li Willing to take necessary risks
        li Willing to do whatever it takes to get the job done

append scripts
    script.
        const board = 'board';
        const socket = io('/board')

        $( 'ul #clickme a' ).click(function() {
            let attr = $( this ).text();
            let user = $( '#user' ).text();
            socket.emit('user', {user, attr, board});
            return false
        })

        socket.on('connect', () => {
            // emitting to everybody
            socket.emit('join', {board})
        })

        socket.on('disconnect', () => {
            socket.emit('disconnect', {board})
        })

        socket.on('auth', (msg) => {
            $('#messages').append($('<li>').text(`${msg}`))
        }) 