extends ./layouts/user
block content
    
    a(id='user')= user._id



    ul(id="messages" style="width: 100%; text-align: center; color: red;")
    ul
        h1 B. FIVE STEP PROCESS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Goal Setting: Strategic Vision
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Problems - Not tolerating them
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Problems - perceiving them
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Diagnosing to the Root Cause
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Designing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Pushing Through to Results

    ul 
        h1 C. VALUES FUNDAMENTALS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Living in Truth
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Driven to Achieve Excellence
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Assertive and Open-Minded at the same time
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Integrity

    ul 
        h1 D. MANAGEMENT FUNDAMENTALS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Principled Machine - & Higher Level Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Designing the Movie Script
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Matching People to Job Design
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Probing Deeply to know How the Managers Feel
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managing rather than Micromanaging
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Able to Understand and Navigate Better
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Fighting to Get in Sync
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Encouraging others to Probe
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Cuts Through it All
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Escalating when not succeeding
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Shaping change
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Willing to Touch the Nerve
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Holding People Accountable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Maintaining High Standards

    ul 
        h1 E. THINKING QUALITIES
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Brightness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Linear Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Lateral Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Knowing what (s)he doesn't know and seeking to learn
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Creativity
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Common Sense
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Synthesizing the situation
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Synthesizing through time
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Prioritizing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Logical Reasoning
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Visualization
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Seeing Multiple Possibilities
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Practical Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Dealing with Ambiguity
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Ability to Self-assess
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Conceptual Thinking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Empathy
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Organized and Reliable

    ul 
        h1 F. TECHNICAL/FUNCTIONAL SKILLS
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Skill and Experience Level Relative to others

    ul 
        h1 O. OPTIONAL
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Determination
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Process Management
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Time Management
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managing Vision and Purpose
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Developing Others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Motivating Others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Self-Discipline
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Productive Work Habits
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Results-Orientation
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Proactive
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Wise
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Composed
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Sizing up People
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Taking the Bull by the Horns
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Learning from Mistakes
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Managerial Courage
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Proactively making design and people-pleasing
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Listens well
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Precise and Meticulous Problem Solving
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Thinking Strategically
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Links open-ended questions
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Practical
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Learning on the fly
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Quick to Learn from Mistakes
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Manages Conflict to get at Truth
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Security Mindedness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Community Mindedness
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Acts Like an owner
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Spends Money Wisely
    ul
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Accountable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Acknowledges communications
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Adaptable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Admits when he/she is wrong
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Authentic
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Bears responsibility
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Believes that family is important
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Believes that health is important
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Bli(id="clickme" style="width: 100%; text-align: center; color: white;"): a elieves that time to relax is important
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Believes that time to think is important 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Broadminded
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Caring
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Carries business cards to use for networking
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Collaborates
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Commitment to excellence
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Communicates well
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Consistent
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Courteous
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Credible
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Decisive
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Dependable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Determined
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Diligent
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Disciplined
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Displays integrity and a high ethical standard
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Doesn’t gossip 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Doesn’t hold grudges
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Doesn’t let things slip through the cracks
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Doesn’t make excuses
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Delivers above and beyond what people expect
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Effective
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Efficient
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Empathetic
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Engaging
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Enthusiastic
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Evolving
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Excels in their line of work
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Exercises self-control
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Focused
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Forgiving
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Generous
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Gets along with people
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Gets the job done
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Gives credit where credit is due 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Go-getter
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Goal-setter
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Good at working in a team
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Good interpersonal skills
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Hard worker
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Has a personal mission statement
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Has a 30-second explanation of what they do (often called an "elevator speech")
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Has conviction
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Hears all sides
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Helps others with their problems
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Helps others to succeed
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Highly committed
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Humble
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Innovative
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Interested in others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Is a person of their word
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Kind
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Lli(id="clickme" style="width: 100%; text-align: center; color: white;"): a earns from mistakes
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Listens well
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Looks at obstacles as challenges 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Loyal
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Maintains gains while being proactive
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Makes the best of situations
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Manages stress
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Methodical
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Motivated
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Networks well
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Nonjudgmental
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Not afraid to fail
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Not manipulative
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Not satisfied with mediocrity 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Objective
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Open to new ways of doing things
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Organized
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Passionate
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Patient
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Perseverant
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Planner
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Positive attitude
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Precise
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Proactive
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Realistic
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Relates well to others
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Respectful 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Scheduled
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Scrupulous
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Seeks improvement
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Selfless
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Sharp spiritually
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Shows appreciation and expresses thanks
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Sincere
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Stays abreast of new developments
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Studious
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Takes responsibility
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Teachable
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Thinker
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Time management skills
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Transparent
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Tries to do more with less
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Trustworthy
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Truthful
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Upright
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Values others 
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Willing to change
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Willing to take necessary risks
        li(id="clickme" style="width: 100%; text-align: center; color: white;"): a Willing to do whatever it takes to get the job done

append scripts
    script.
        const board = 'board';
        const socket = io('/board')

        $( 'ul #clickme a' ).click(function() {
            let attr = $( this ).text();
            let user = $( '#user' ).text();
            socket.emit('user', {user, attr, board});
            return false
        })

        socket.on('connect', () => {
            // emitting to everybody
            socket.emit('join', {board})
        })

        socket.on('disconnect', () => {
            socket.emit('disconnect', {board})
        })

        socket.on('auth', (msg) => {
            $('#messages').append($('<li>').text(`${msg}`))
        }) 