extends layout
block content
    //- user id needs to be that of the user who is being clicked (not the user logged in)
    each user in users
        li: a(href=`/users/${user._id}`)= `${user.name}` 