include ../mixins/_avatarDisplay
doctype html
html(lang="en")
    head
        block head
            title Dot App
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="/styles/styles.bundle.css">
    body
        block header
            .c-nav
                if user
                    if user.isAdmin
                        h1.c-nav__logo: a(href="/admin") Admin Area
                    else if user
                        h1.c-nav__logo: a(href="/users") User Area
                else 
                    h1.c-nav__logo: a(href="/") Home

                ul.c-nav__list
                    if (user)
                        +avatarDisplay()
                        li.c-nav__item: a(href="/users/dashboard") #{user.name} #{user.isAdmin ? `(admin)` : ''}
                        li.c-nav__item: a(href='/users/board') The Board 
                        li.c-nav__item: a(href='/users/wall') The Wall
                        li.c-nav__item: a(href="/logout") Log out 
                    else
                        li.c-nav__item: a(href="/register") Register
                        li.c-nav__item: a(href="/login") Log in
        block messages
            if locals.flashes
                .inner
                    .flash-messages
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}`)
                                    p.flash__text!= message
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
        block content

        block scripts 
            script(src="/scripts/main.bundle.js")
            script(src="/socket.io/socket.io.js")
            script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")